body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.logo {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

#tf-logo {
  width: 300px;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0;
  margin: 20px 0;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee; 
}

th {
  background-color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #ddd; 
}

tr:last-child td {
  border-bottom: none;
}


/* Styles for the form  */
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form-container h2 {
  text-align: center;
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  background-color: #357abd;
}